{% extends "layout.html" %}

{% block content%}
    </br>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </br>
    <form action="/predict", method="POST">
        <div class="form-group">
            {{ form.hidden_tag()}}
            {{ form.url(class="form-control form-control-md") }}
            <br>
            {{ form.url_model.label(class="form-label")}}
            <br>
            {{ form.url_model(class="form-select form-select-lg mb-3") }}
            <br>
            {{ form.dim_model.label(class="form-label")}}
            <br>
            {{ form.dim_model(class="form-select form-select-lg mb-3") }}
            <br>
            {{ form.submit(class="btn btn-info btn-sm") }}
        </div>
    </form>
    <br>
{% endblock content %}
