
{% extends "layout.html" %} 

{% block content%}
    <br><br> 
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">URL Classification</h5>
        </div>
        <div class="card-body">
            <p>{{ url }}</p>
            {% if language == 'UNKNOWN' %}
                <span class="badge bg-danger text-light">NO_PREDICTION</span>
            {% else %}
                <span class="badge bg-info text-light">{{url_prediction}}</span>
            {% endif %}
        </div>
    </div>
    
    <br>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Language</h5>
        </div>
        <div class="card-body">
            {% if language == 'UNKNOWN' %}
                <span class="badge bg-danger text-light">UNKNOWN</span>
            {% else %}
                <span class="badge bg-info text-light">{{language}}</span>
            {% endif %}
        </div>
    </div>
    
    <br>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">CDR Dimensions</h5>
        </div>
        <div class="card-body">
            {% if language == 'UNKNOWN' %}
                <span class="badge bg-danger text-light">UNKNOWN</span>              
            {% else %}
                {% for dim in dim_prediction %}
                <span class="badge bg-info text-light">{{dim}}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Rating of CDR Dimensions</h5>
        </div>
        <div class="card-body">
            {% if dim_rating%}
                <div class="row">
                    <div class="col-4">
                        {% for key in dim_rating.keys() %}
                            {{description[key]}} <br><br>
                        {% endfor %}
                    </div>
                    <div class="col-8">
                        {% for key in dim_rating.keys() %}
                            {% for _ in range(dim_rating[key] // 2)%}
                                <span class="fa fa-star checked"></span>
                            {% endfor %}

                            {% if  dim_rating[key] % 2 != 0 %}
                                <span class="fa fa-star-half-o checked"></span>
                            {% endif %}

                            {% for _ in range((10 - dim_rating[key]) // 2) %}    
                                <span class="fa fa-star"></span>
                            {% endfor %}
                        <br><br>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <span class="badge bg-danger text-light">No Rating Availabele</span>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Text</h5>
        </div>
        <div class="card-body">
            {{ text }}
        </div>
    </div>


{% endblock content %}